fastapi==0.115.12
uvicorn[standard]==0.34.0
psycopg2-binary==2.9.10
pydantic-settings==2.8.1
python-dotenv==1.0.1
pytest==8.3.5
pytest-cov==6.0.0
httpx==0.28.1
ruff==0.11.2
alembic==1.15.2
SQLAlchemy==2.0.39